[Unit]
Description=Painkeep server
After=syslog.target
After=network.target

[Service]
Type=simple
User=painkeep
Group=painkeep
RootDirectory=/srv/painkeep
ExecStart=./mvdsv -mem 128 +gamedir Painkeep -port 27500 +exec server.cfg -nopriority -noerrormsgbox +logrcon +logplayers +logerrors

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=60

[Install]
WantedBy=multi-user.target
